* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 900px) {
   
    }
    
    #header{
      background-color: #ffffff;
      height: 40px;
      color: rgb(255, 248, 248);
      top:0;
      font: georgia;
      border-bottom-style: solid;
      border-color: #cccccc;
      display:inline-block;
      float:none;
      text-align: left;
      width:auto;
  
    }
    #container {
      box-align: left;
      display: inline-block;
      box-align: left;
      align-content: left;
      align-self: left;
      background-color: tan;
      text-decoration-color: darkgreen;
  
    }
    body {
      margin: auto;
      width: 100%;
      flex: left;
      background: #4aaaa5;
    }
  
    #header {
      width:100%;
      text-align: center;
  
    }
    #h1 {
      color: aqua;
    }
    #content { 
      display:inline-block;
      align-content: left;
      display: block;
      background-color: rgb(218, 189, 96);
      width: 300px;
      color: #777777;
      border-color:#cccccc;
      font-size: 16px;
      text-decoration-color: rgb(0, 0, 0);
      text-align: left;
      top: 0;
      left: 0;
      align: left;
      background-position: relative;
      margin-top:0;
      font-family: 'Margarine', cursive;
      font-family: 'Merriweather', serif;
  
     
    }
  
    #header {
  
      align-content: center;
    }
    #footer {
      width: 100%;
      background-color: rgb(112, 124, 124);
      height: 20px;
      font-size: 10px;
      text-emphasis-color: white;
      position:absolute;
      bottom:absolute;
      text-align: left;
      border-top-style: solid;
      border-color:#4aaaa5; 
      margin-bottom:auto;
      min-height:45px;
    }
  
    #h1 {
  
      text-align: left;
      
    }
    #footer {
        position: bottom;
        background-color: black;
    }
  
    
  
    
    