* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 900px) {
   
    
    
    
  
    }
    #container {
      box-align: left;
      box-align: left;
      align-content: left;
      align-self: left;
      background-color: tan;
      text-decoration-color: darkgreen;
  
    }
    body {
      margin: auto;
      width: 100%;
      flex: left;
      background: #4aaaa5;
    
  
    }
    #h1 {
      color: aqua;
    }
    #content { 
      align-content: left;
      background-color: rgb(218, 189, 96);
      width: 300px;
      color: #d81e1e;
      border-color:#cccccc;
      font-size: 16px;
      text-decoration-color: rgb(0, 0, 0);
      text-align: left;
      top: 0;
      left: 0;
      align: left;
      margin-top:0;
      font-family: 'Margarine', cursive;
      font-family: 'Merriweather', serif;
  
     
    }
    #scoreboard {
        margin-top: 10px;
        display:inline-block;
        align-content: left;
        display: block;
        height: auto;
        background-color: rgb(221, 65, 65);
        width: auto;
        color: #f1f1f1;
        border-color:#cccccc;
        font-size: 16px;
        text-decoration-color: rgb(0, 0, 0);
        text-align: left;
        top: 0;
        left: 0;
        align: left;
        background-position: relative;
        margin-top:0;
        font-family: 'Margarine', cursive;
        font-family: 'Merriweather', serif;

    }
    #totalscore {
        background: #cccccc;
        width: auto;

    }
    #winslosses {
        background: blue;
        width: auto;
        float: flex;
        text-align:left;

    

    }
    #crystals{

    width: 700px;
    float:flex;
    }


  
    #header {
  
      align-content: center;
    }
    #footer {
      width: 100%;
      background-color: rgb(112, 124, 124);
      height: 20px;
      font-size: 10px;
      text-emphasis-color: white;
      position:absolute;
      bottom:absolute;
      text-align: left;
      border-top-style: solid;
      border-color:#4aaaa5; 
      margin-bottom:auto;
      min-height:45px;
    }
  
    #h1 {
  
      text-align: left;
      
    }
    #footer {
        position: bottom;
        background-color: black;
    }
  
    
  
    
    